version: '3.7'
services:
  reverse-proxy:
    image: traefik:v2.1
    # Enables the web UI and tells Traefik to listen to docker
    restart: unless-stopped
    ports:
      # The HTTP port
      - "80:80"
      - "443:443"
      # The Web UI (enabled by --api.insecure=true)
      #- "8080:8080"
    volumes:
      # So that Traefik can listen to the Docker events
      - /var/run/docker.sock:/var/run/docker.sock
      - ./cert:/data
      - ./log:/log
      - ./traefik.toml:/etc/traefik/traefik.toml               # Traefik static config
      - ./traefik.config.toml:/etc/traefik/traefik.config.toml # Traefik dynamic config
    networks:
      - traefik-gateway
    deploy:
      resources:
        limits:
          cpus: '0.25'
          memory: '256M'



networks:
  traefik-gateway:
    external:
       name: gateway
